<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Test Python Template</title>
  </head>
  <body>
    <!-- The message you see below is why we call this a template -->
    <!-- message is filled in by the Python file as it calls up this HTML -->
    <!-- Later you may wish to separate page title from message -->
    <h1>Import CSV Error Page</h1>
    <!-- div to contain form -->
    <div>
      <!-- ================ -->
      {{t_message}}
      <!-- ================ -->

      <!-- Close the container div -->
    </div>
    <!-- Close the body of the HTML document -->
  </body>
</html>